RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
rewritecond %{http_host} ^esportscups.com.br [NC] 
rewriterule ^(.*)$ https://www.esportscups.com.br/$1 [r=301,NC] 

php_value post_max_size 256M
php_value upload_max_filesize 256M
php_value memory_limit 512M
php_value max_execution_time 240
php_value max_input_time 240