@font-face {
    font-family: 'akrobatregular';
    src: url('../../../fontes/akrobat-regular-webfont.woff2') format('woff2'),
         url('../../../fontes/akrobat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0px;
	padding: 0px;
	font-family: 'akrobatregular';
}
body {
    background-image: url("../img/bg2.png");
    background-size: 100% auto;
    background-attachment: fixed;
}
hr {
    background: #00a3b2;
    width: 75%;
    margin: 5px auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: bebas neue;
}
.linha-um {
    background-image: url("../img/bg6.png");
    background-size: 100% auto;
    background-attachment: fixed;
    font-size: 20px;
    border-bottom: solid 3px #000;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.linha-um .info {
    background: #ccc;
    padding: 10px;
    border: solid 2px #000;
    color: #000;
    font-size: 34px;
}
.linha-um .info label {
    font-size: 12px;
    
}
.logo {
    width: 35%;
    margin-bottom: 25px;
}
.linha-dois {
    padding: 20px 0px;
    font-size: 18px;
    border-bottom: solid 3px #000;
    background: #ccc;
}
.linha-dois .texto {
    text-align: justify;
}
.linha-dois .gema {
    height: 40px;
    margin-bottom: 15px;
}
.linha-dois .etapa {
    text-align: center;
}
.linha-dois .etapa .fas {
    color: #00a3b2;
}
.linha-dois table {
    width: 100%;
    text-align: center;
}
.linha-dois table tr td{
    padding: 10px 5px;
}

.linha-tres {
    padding: 20px 0px;
    color: #fff;
    background: rgba(0,0,0,0.5);
}
.linha-tres .twitch {
    font-size: 40px;
}
.linha-quatro {
    background-image: url("../img/bg3.png");
    background-size: 100% auto; 
    padding: 20px 0px;
    border-bottom: solid 3px #000;
}
.linha-quatro h4 {
    margin-bottom: -5px;
}
.linha-quatro table {
    width: 100%;
    background: #fff;
    border: solid 1px #ccc;
}
.linha-quatro table tr td {
    padding: 5px;
    text-align: center;
    
}
.linha-quatro table thead tr td {
    font-family: bebas neue;
} 

.linha-cinco {
    background-image: url("../img/bg4.png");
    background-size: 100% auto; 
    padding: 20px 0px;
    border-top: solid 3px #000;
    color: #fff;
}